<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="Orderstatuschange">
		<observer name="sunil_orderprocessing_observer_backend_orderstatuschange_Orderstatuschange" instance="Sunil\Orderprocessing\Observer\Backend\Orderstatuschange"/>
	</event>
</config>
